/************ Skills Css ************/
.skill {
    padding: 0 0 50px 0;
    position: relative;
    margin-top: 150px;
  }
  .skill-bx {
    background: #353535;
    border-radius: 20px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
  }
  .skill h4 {
    color: #5dc1b9;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 6px;
  }
  .skill p {
    /* background: #242424; */

      color: #B8B8B8;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
  }
  .skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .skill-slider .item-dark img {
    width: 50%;
    margin: 0 auto 0 auto;
  }
  .background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
  }
  .item-dark{ 
    color: #B8B8B8;
  }

  