@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600&display=swap');

/*No horizontal scrolling, also on mobile views*/
html , body{
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden !important;
    scroll-behavior: smooth !important;
}
body {
    position: relative
  }
  /*------ScrollBar styles------*/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #eeeeee;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background: #5dc1b9;
    border-radius: 5px;
}
